<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Buscar restaurantes</h3>

  <ion-searchbar placeholder="Buscar endereços"></ion-searchbar>

  <h5>Restaurantes próximos</h5>
  <div *ngIf="status === 'success'">


    <ion-card *ngFor="let address of restaurants" (click)="touch(address)">

      <ion-grid class="grid">
        <ion-row class="row">
          <ion-col class="col" col-4>
            <img src="{{address.restaurant.photo_full_url}}"/>
          </ion-col>
          <ion-col class="col"  col-7>
            <ion-card-header >
                
                  {{address.restaurant.name}}
                
            </ion-card-header>
            <p>{{address.restaurant.description}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card >

      <ion-grid class="grid">
        <ion-row class="row">
          <ion-col class="col" col-4>
            <img src="https://s3.amazonaws.com/guia-02/restaurante/fast.jpg"/>
          </ion-col>
          <ion-col class="col"  col-7>
            <ion-card-header>
                
                  Food Restaurante
               
            </ion-card-header>
            <p>Incrível restaurante Fast Food.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!-- <img src="https://s3.amazonaws.com/guia-02/restaurante/b0cd8b88b5baec9a.png"> -->
  </div>

  <div *ngIf="list.length > 0">
    <h4>Favoritos</h4>

    <ion-card *ngFor="let data of list" (click)="touch(data)">
      <img src="img/advance-card-map-madison.png">
      <ion-card-header>{{ data.restaurant.name }}</ion-card-header>
      <ion-card-content>{{ data.restaurant.description }}</ion-card-content>
    </ion-card>
  </div>
</ion-content>
